<%= render "layouts/header" %>

<div style="display: flex; justify-content: center; margin-top: 40px;
background-color:#a7acb4;">
    <div style="width: 50%; display: flex;
    justify-content: center;">
        <img src="	https://www.skoolbeep.com/img/assets/phone_easyimplement.png" alt="">
    </div>
    <div style="width: 50%; margin-top: 100px">
        <h1>Easy to implement</h1><br>
        <span class="icon align-self-center"></span>
<p>Single app all users & customized user roles like principal, teachers, <br> accountant, parent, makes implementation easy and effective </p>
<p>Swift digital transformation for your school, go live in 48 hours </p>
<p>Join scheduled online classes with a single click from timetable</p>
<p>Streamlined fee collection, with payment gateway & student loans</p>
<p>Marks entry from mobile app for schools, automatic grading <br> calculation & report card generation saves precious time of <br> teachers</p>
    </div>
</div>