<%= render "layouts/header" %>


 <!-- ---------box second------- -->
 <div class="box-second">
    <p style="margin: 20px; font-weight: bold">EXPLORE</p>
    <div class="box-s-list">
        <button class="col1">Identification</button>
        <button class="col-benefit">Qualification</button>
        <button class="col-benefit">Engagement</button>
        <button class="col-benefit">Workflow</button>
        <button class="col2">Visibility</button>
    </div>
    <div class="box-s-elements">
        <div class="box-s-elements-text">
            <h1 id="heading1">It’s like “Tinder”, but for prospects.</h1>
            <p id="heading">
            <strong >
                <em >The platform delivers new leads that meet your specific criteria every day, automatically.</em>
            </strong>
            </p>
            <p id="heading">Spend a minute describing your perfect prospect.</p>
            <p id="heading">Then, our AI-based software crawls social conversations, blogs, forums, and the web looking for conversations where prospects are 
                <spam style="text-decoration: underline">expressing problems</spam> , <spam style="text-decoration: underline;">asking questions</spam> or looking to engage.
            </p>
        </div>
        <div class="box-s-elements-image">
            <image src="https://audienti.com/wp-content/uploads/2023/03/Screenshot-2023-03-16-at-2.33.28-PM-e1678959517374.png" alt="image loading" id="box-image">
        </div>
    </div>
</div>
 <!-- ---------box six------- -->

<div class="box-sixth">
    <div class="text-sixth">
            <img src="https://audienti.com/wp-content/uploads/elementor/thumbs/growmance-logo-q3i7qvyaa1kh3ybsm5grvdvunca0d0laoucbgrrykq.png" alt="image is loading">
            <h2>Looking for Growmance? Sign up for our free #growth <br> Slack community.</h2>
            <p id="para-sixth">Get tips, tricks, and help from a community of over 15,000 sales and marketing <br> professionals.</p>
    </div>
    <button id="box-sixth-button">Learn more and Sign Up.</button>
 </div>


<div style="display: flex; justify-content: center; padding: 82px; height: 30rem;
background-color:#d1d7e1;">
    <div style="width: 50%; display: flex;
    justify-content: center;">
        <img src="	https://www.skoolbeep.com/img/assets/phone_easyimplement.png" alt="">
    </div>
    <div style="width: 50%">
        <h1>Easy to implement</h1><br>
        <span class="icon align-self-center"></span>
<p>Single app all users & customized user roles like principal, teachers, <br> accountant, parent, makes implementation easy and effective </p>
<p>Swift digital transformation for your school, go live in 48 hours </p>
<p>Join scheduled online classes with a single click from timetable</p>
<p>Streamlined fee collection, with payment gateway & student loans</p>
<p>Marks entry from mobile app for schools, automatic grading <br> calculation & report card generation saves precious time of <br> teachers</p>
    </div>
</div>