<%= render "layouts/header" %>

<div>
   <h1>Have Questions? Look Here</h1> 
    <p>SkoolBeep online classes is a comprehensive software suite that can digitize your entire <br> school academic operations. If you have more questions, please send us a message</p>
    <div class="dropdown" style="margin-bottom: 100px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          What if some of parents dont't have smartphone or internet
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <p>Eventually all parents are going to have smartphones, 
            but we do understand that some of the parents <br>
            may not have access to smartphone today. To enable communication with
            all parents, we have made <br> 
            SMS bridging and voice calls. This will ensure you c
            an reach out to all parents irrepective of phone type <br> 
            or data connection availability.</p>
        </div>
      </div>
</div>