<%= render "layouts/header" %>



  <!-- ---------box third------- -->
  <div class="box-third">
    <p style="margin-top: 40px; font-size: 30px; font-weight: 500">How it Works</p>
    <div class="box-third-video">
        <video src="https://audienti.com/wp-content/uploads/2023/03/how-to-use-audienti-2.mp4" alt="video loading" type="video/mp4" autoplay="" loop="" controls="" muted="muted" playsinline="" controlslist="nodownload" id="box-third-video"></video>
    </div>
    <p id="box-third-text-style">Or, watch a two minutes demo video.</p>
</div>