<%= render "layouts/header" %>
<div class="container", id="privacy-text">
    <div class="row">
        <div class="col-4">
            <h1>Overview</h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, corporis? Cumque placeat ea similique labore repudiandae delectus sed ut, porro exercitationem sint doloremque tempore voluptate laudantium sunt enim itaque. Nulla minima, fuga soluta consequuntur numquam consectetur. Doloremque, rerum officia nihil delectus placeat exercitationem enim dicta tempore doloribus dignissimos maiores, natus voluptatum explicabo sunt voluptate eum assumenda ducimus ad aperiam quia qui? Quam laudantium facere aperiam neque repellat commodi. Doloremque iusto, aut repellendus delectus magnam voluptas molestiae voluptatibus officia tempora dolor fuga saepe cum. Impedit labore temporibus modi quaerat suscipit corporis alias ratione sapiente, adipisci perspiciatis sunt explicabo quasi facere ipsam eligendi 
            repellat, culpa dolor eaque dolores sequi nulla dicta aspernatur? Ullam beatae enim illum provident quibusdam, ad quasi, nemo, exercitationem veniam nam explicabo atque eius cupiditate soluta ab doloribus earum corporis saepe. Quisquam nam ad eligendi commodi tempora sint modi. Excepturi mollitia tempora nemo numquam velit, aperiam esse cum quae deleniti placeat laudantium, voluptatum provident explicabo in quidem incidunt quos aliquam? Exercitationem possimus quae rem tempore iusto! Commodi laboriosam atque nesciunt corporis porro culpa, voluptatem voluptatum, reprehenderit doloremque ducimus dolores? Soluta dolore dicta suscipit est quaerat minima libero, debitis nesciunt atque cumque quisquam quod? Perferendis odio reiciendis maiores nihil ducimus repudiandae commodi dicta consequuntur quo
             excepturi molestias temporibus mollitia, delectus quisquam dolorem nemo voluptas repellendus! Odio porro ullam delectus provident aliquam assumenda ratione dolore laudantium nemo, a voluptatibus quo fugit adipisci quasi commodi dolores. Explicabo deleniti repellat quidem eveniet deserunt, quia est molestias cum quasi eos rem quas soluta dolorem modi illum vitae maiores ab suscipit natus? Dignissimos soluta tempore sapiente voluptate eaque minus. Quibusdam, vero, nam commodi facere nulla repellendus quas in esse praesentium cumque quam expedita cupiditate laudantium architecto? Similique iusto deleniti exercitationem eos, nostrum, error dolores ut quisquam rem laborum quod aperiam molestiae doloremque praesentium. Aperiam, error.
        </div>
        <div class="col-8">
            <h1 id="privacy-head">Building Access Policy</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aspernatur, placeat eum dignissimos expedita, tenetur earum nesciunt obcaecati, accusantium libero illo dolorum iure excepturi consectetur aperiam doloremque? Eaque corrupti commodi molestiae error quos fuga. Placeat quis quae, hic sapiente sunt nisi. Quae ducimus qui architecto similique perspiciatis voluptates dolorem magni recusandae, odit, iusto, praesentium in beatae repellendus illo sit? Suscipit, quibusdam aperiam beatae, reprehenderit mollitia nostrum libero quia quisquam sed adipisci, neque perferendis facilis. Delectus id accusantium non, commodi ad rem a minus iusto ducimus nobis quas, facere in, harum nulla libero hic culpa. Voluptatum deserunt impedit quidem at sunt mollitia voluptate ullam facere, tempore,
             harum, aliquid eligendi? 
             <h4 id="privacy-head">Access</h4>
             Nesciunt dolore quia dignissimos autem consequatur veniam vitae atque est voluptatum culpa libero rerum officiis perspiciatis adipisci ut hic cupiditate nobis non totam, fuga architecto. Non dolore fugiat praesentium, quisquam ut accusamus, cupiditate sit adipisci ducimus accusantium quis qui veritatis! Possimus quasi minus, accusantium, iure labore, ex delectus unde odit nihil aliquid soluta. Nihil facere aperiam doloribus molestias, consequatur tempore rerum non recusandae inventore omnis perferendis, excepturi rem cum, unde accusantium illum error velit quis maxime eum impedit asperiores perspiciatis aliquam voluptatem? Distinctio ducimus aliquid modi assumenda alias accusamus recusandae vel unde blanditiis accusantium, laboriosam cum aut architecto sed rerum
              fugit quos exercitationem tempore. Officiis explicabo quaerat iste voluptate expedita nulla aliquid quae, provident inventore, nostrum eligendi. Velit ut maiores facere impedit possimus ipsam laudantium totam fuga aspernatur laboriosam quaerat ad sint distinctio provident voluptas, perspiciatis iste, reiciendis inventore? Consequatur animi, amet vero vel ab at necessitatibus ullam repudiandae nobis consequuntur ratione natus, iusto, sequi error rem dolor quod. Labore corporis maiores quaerat suscipit modi dolor cum temporibus laboriosam. Fugit incidunt at aspernatur animi eligendi quo reiciendis distinctio maxime explicabo, laboriosam perferendis facilis aperiam, eveniet repellat magnam libero, doloremque similique amet ut beatae. Numquam excepturi tenetur odio 
              rerum aut iusto, beatae 
              <h4 id="privacy-head">Animals</h4>
              tempora doloremque, doloribus porro soluta quisquam cupiditate quis eveniet? Fugiat voluptatibus corporis culpa quos delectus dolorum tenetur perspiciatis quibusdam consectetur nostrum nobis voluptates, quia numquam atque repudiandae sit autem commodi, maxime eius debitis labore facere. Ipsam laboriosam libero ullam exercitationem! Illum ut autem recusandae qui soluta enim atque consequatur dolor iure eius, temporibus accusantium, quae aliquid eligendi modi voluptatum, quasi consequuntur at impedit optio id reiciendis pariatur. Esse, iure rem, tempore eum numquam ipsam sunt consectetur totam consequatur soluta modi a exercitationem iste ex eos facilis. Necessitatibus dolore voluptatum minus illo voluptatibus consectetur quas quod commodi dolorem veritatis iste reprehenderit, saepe nihil
              <h4 id="privacy-head">Carrels and group study rooms</h4>
               dolorum distinctio, quam exercitationem! Illum maxime magnam reiciendis suscipit reprehenderit quas dolor, voluptatem commodi quidem quo? Iure explicabo ratione obcaecati distinctio! Aliquam nesciunt sed praesentium ipsam, enim labore omnis quidem quae quas, porro voluptatibus neque, fugit ipsum voluptatem aut sunt doloremque. Molestias suscipit vero qui. Ipsa ut reiciendis obcaecati nostrum quos tempore, optio similique provident aspernatur facilis aliquam rerum itaque voluptatum tenetur alias odit adipisci eligendi eius at quaerat ex deleniti consectetur? Perspiciatis, itaque tenetur dignissimos quae voluptatibus omnis impedit commodi voluptates mollitia est rerum aliquid, veritatis natus voluptatum?
               These facilities are generally available only to members of the campus community, except by special arrangement. Several library facilities have study carrels for individual use. Members of the campus community may consult the appropriate information services desk for procedures for reserving these carrels. 
               <h4 id="privacy-head">Destruction of library materials</h4>
               Group study space in some campus libraries may be reserved by consulting the library's information services staff or by booking online. Generally, these facilities are available on a first-come, first-serve basis. Due to the high demand for group study space, we do not permit reservations for course office hours. In addition, campus department office hours cannot be held in library spaces, including group study spaces or open study spaces. Please contact your department to secure space on campus for office hours. 
               
               U-M Library does not provide rentable space for other U-M department staff meetings or initiatives by private businesses.
               <h4 id="privacy-head">Emergencies</h4>
               In the event of fire, tornados, or other emergency situations, our automated emergency alarms and/or library staff will alert building occupants to the procedures for evacuation or taking shelter.

                <h4 id="privacy-head">Filming and photography</h4>
               If you are a university department or student group/team who wishes to film in the library for your project, please reach out to libraryoperationsoutreach@umich.edu and we can work with you so there is minimal impact on the environment for research and study.

                <h4 id="privacy-head">Food and drink</h4>
                Food is permitted in study areas, if food items are handled with regard to the safety of library materials and the cleanliness of library facilities. 

                Non-alcoholic beverages in closed containers (thermoses, travel mugs, bottled water or soft drinks, etc.) are permitted in most areas of the University Library.

                No food or beverage is permitted in the Special Collections Research Center (and special collections or archives in any University Library), Papyrology Collection, and the Clark Library.

            <h4 id="privacy-head">Foot coverings</h4>
            In order to ensure the safety and comfort of all users, clothing and shoes are required at all times in the library.

            <h4 id="privacy-head">Literature distribution, solicitation</h4>
            Display of posters and distribution of flyers is prohibited except in designated areas or with the permission of the User Services & Outreach Manager. Petitioning or solicitation is prohibited in library spaces

            <h4 id="privacy-head">Security</h4>
            In cooperation with appropriate university departments, the library tries to provide a welcome, open environment that is safe and secure for everyone.

            Users should not leave personal belongings unattended.

            Campus security phones are conveniently located throughout the libraries. Staff or users are encouraged to call the Department of Public Safety (911) in an emergency. Library staff should be alerted if users feel threatened in the library.

            <h4 id="privacy-head">Sleeping</h4>
            For your safety and security, we do not encourage sleeping in library buildings.

            If a user is found sleeping, staff will perform one wellness check to confirm responsiveness. If a user is unresponsive, staff will call DPSS.

            Staff will continue to awaken an individual after an initial wellness check if they:

            Are blocking an exit, doorway, or circulation path
            Are snoring loudly
            Appear to be ill or in distress
            If a user is awakened through a wellness check three times in one day for the reasons listed above, they will be asked to leave the library until the following day. 

            <h4 id="privacy-head">Smoking</h4>
            In accordance with the campus-wide Smoke-Free initiative and university regulations, library facilities and the surrounding campus areas are non-smoking environments. Smoking, including the use of electronic cigarettes or vaporizers, is not permitted in the library.

            Failure to comply with these policies may result in limitation of access to library facilities.
            </div>
    </div>
</div>
