<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= search_form_for @q do |i|%>
  <div id="searching-style">
      <%= i.text_field :title_or_author_or_status_or_type_cont, class: "form-control mr-sm-2 inline", placeholder: "Search", id: "search-box"%>
    <div>
      <%= i.submit class: "btn btn-outline-success my-2 my-sm-0", id: "search-submit" %>
    </div>
  </div>
<% end %>