#footer_family {
    font-family: Crimson Text
}
#footer-para {
    width: 558px;
    display: flex;
    justify-content: center;
    text-align: start;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 45px;
}
#footer-bottom {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}
#footer-hover:hover {
        color: #ff9900; 
}

// #session-brand:hover {
//     color: #ff9900;
// }