#image_head {
    width: 100%;
    height: 31rem;
}
#image2_head {
    height: 45px;
    margin-right: 110px;
}
#header_style {
    position: relative;
    display: flex;
    justify-content: center;
}
#navbar {
    position: absolute;
    top: 10px;
    align-items: center;
    display: flex;
    gap: 70px;
}
#lib {
    margin-right: 140px;
    font-weight: bold;
}
#decoration-none {
    text-decoration: none;   
    color: var(--bs-secondary-color) !important;
}
.decoration:hover {
    color: #ff9900 !important;
    text-decoration: #ff9900 !important;
    font-size: 20px !important;
}

// ---new header file
@media only screen and (max-width: 375px) {
    #image_head {
        width: 100%;
        height: 9rem;
        object-fit: contain;
    }
    #navbar {
        display: none;
    }
  }