<div class="text-center" id="header_style">
    <img src="	https://www.skoolbeep.com/blog/wp-content/uploads/2021/03/library-management-bnr.jpg" alt="image loading" id="image_head">
    <div id="navbar">
        <!-- <div id="lib">Library Management</div> -->
        <img src="https://img.icons8.com/?size=1x&id=-d7FL5YRy8yV&format=png" alt="" id="image2_head">
        <div>Home</div>
        <div>Features</div>
        <div>Benefits</div>
        <div>FAQ</div>
        <div>Features</div>
    </div>
</div>