<div class="container mt-5" style="width: 65%;">
    <div class="row">
        <div class="col-6">
            <img src="https://www.iitms.co.in/library-management-system/img/Library-Management-System-Badge.png" alt="">
            <h1>Library Management System Software</h1>
            <p>Effectively Manage, Track, and Perform Daily Library <br> Operations with Ease!</p>
            <a href="/books" class="btn btn-secondary mt-3">Books</a>
        </div>
        <div class="col-6">
            <img src="https://www.iitms.co.in/library-management-system/img/Library-Management-System.png" alt="img-loading" style="width: 515px;">
        </div>
    </div>
</div>

<!-- 1111 -->
<div class="container mt-4 shadow" style="width: 65%;background-color: #05415d;
height: 190px;
border-radius: 10px;">

        <h3 class="text-center text-light" style="padding-top: 25px;">Free Live Demo</h3>
        <div class="d-flex justify-content-around text-light">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHukDEFWqsNpMiHE7lYIkO8OsTgW-MyWq0Jg&usqp=CAU" alt="" style="height: 70px;
                border-radius: 36px;">
                <h3>Consistency</h3>
            </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5OQxKS6iIWmeu2A6gBU2xJ_dQ0L18FoDe1w&usqp=CAU" alt="" class="img-fluid rounded-circle" style="height: 70px;">
                <h3>Leading</h3>
            </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR00j_YZYGgfbfCUFLHxJH7yA2GI_L2f6r8IQ&usqp=CAU" alt="" class="img-fluid rounded-circle" style="height: 70px;">
                <h3>Confidence</h3>
            </div>
        </div>
</div>
 <!-- section 3 -->
<section>
    <div class="container" style="width: 65%; margin-top: 50px">
        <div class="text-center font-weight-bold" style="font-size: 20px;">Library Management System Software</div>
        <div class="text-center mt-3">
            <img src="	https://www.iitms.co.in/school-erp/img/section-heading.png" alt="" style="height: 23px;">
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-5 d-flex justify-content-center align-items-center" style="border: 9px solid #313131;height: 230px;">
                <img src="https://www.iitms.co.in/library-management-system/img/Libarary-screen-gif.gif" alt="" style="height: 214px;">
            </div>
            <div class="col-7">
                <p style="font-size: 13px;">A library management system is software that is designed to manage all the functions of a library. It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates.</p>
                <p style="font-size: 13px;">This system completely automates all your library’s activities. The best way to maintain, organize, and handle countless books systematically is to implement a library management system software.</p>
                <p style="font-size: 13px;">A library management system is used to maintain library records. It tracks the records of the number of books in the library, how many books are issued, or how many books have been returned or renewed or late fine charges, etc.</p>
            </div>
        </div>

    </div>
</section>